# standard ignores
node_modules/

# ignore src
src/

# ignore husky
.husky/

# ignore coverage
coverage/
dist/coverage/

# ignore jest
dist/jest*

# ignore dev configurations
.eslintrc.json
.lintstagedrc.json
.prettierrc
jest.config.ts
tsconfig.json